[x-cloak] { display: none !important; }

body {
  padding-bottom: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.app-container {
  max-width: 500px;
}

.section-heading {
  font-size: 1.6rem;
  font-weight: 1000;
  letter-spacing: .1rem;
  line-height: 1.2rem;
  }

.recipe_input {
  width: 95%;
  height: 2rem;
}

.ingredient_input {
  margin: 0 0.8rem;
  min-width: 70%;
}

.task_edit {
  min-width: 70%;
  height: 2rem;
  margin: 0 0.8rem;
}

.recipe_url_list {
  word-break: break-word;
}

.todo {
  display: flex;
  align-items: center;
  min-width: 300px;
  margin: 0.3em auto;
  padding: 0 1.0rem;
}

.task-remove {
  cursor: pointer;
}

.task-item {
  letter-spacing: .1rem;
  line-height: 1.2rem;
  padding: 0 1.0rem;
}

.recipe-item {
  font-size: 1.0rem;
  letter-spacing: .1rem;
  line-height: 1.2rem;
  padding: 0 1.0rem;
}

.completed {
  text-decoration: line-through;
}

.fade {
  animation: fade-in-out 4s infinite;
}

@keyframes fade-in-out {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
}
